
<div class="container_teams">

  <div class="log_league">
    <div class="log-right">

      </div>
      <div class ="log-left">
        <% flash.each do |type, message| %>
          <p><%= type %>: <%= message %></p>
        <% end %>
        <h1> Premier League </h1>
          <h4><%= link_to "Join League", new_team_path %><h4>
      </div>
    </div>
    <div class= "wrapper">
      <% @teams.each do |team| %>
      <div class="team_container">
        <%= image_tag team.log%>
        <h3><%= link_to team.team_name, team_path(team) %></h3>
      </div>
      <% end %>
    </div>
  </div>
