

<div class ="form">
  <% @f.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
  <h1> Join the Premier League </h1>
  <%= form_for @team do |f| %>
  <%# use |f| to represent 'field' %>
  <h4><%= f.label :team_name %></h4>
  <%= f.text_field :team_name, :size =>30%>
  <h4><%= f.label :coach %></h4>
  <%= f.text_field :coach, :size =>30%>
  <h4><%= f.label :Log %></h4>
  <%= f.text_field :log, :size =>30 %>
  <h4><%= f.submit "Join" %></h4>
  <% end %>
</div>
