<h1>Edit Player Profile</h1>
<%= form_for [@team,@player] do |player| %>

<%= player.label :name %>
<%= player.text_field :name %>

<%= player.label :nationality %>
<%= player.text_field :nationality %>


 <%= player.label :age %>
 <%= player.text_field :age %>

 <%= player.label :img_url %>
 <%= player.text_field :img_url %>
 <%= player.submit "create" %>
<% end %>
